<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fc4444">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="assets/logo.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
       </div>
       <div class="icone"> <a routerLink="login"><i class="bi bi-person"></i></a> </div>
    </div>
  </nav>

  <div class="game-information">
    <i class="bi bi-house-fill"></i>
    <p>|</p>
    <h4>Name of Game Here</h4>
</div>

<div class="central">
    <aside>
        <div>
            <img src="assets/mu.jpg">
        </div>
    </aside>
    <section>
         <div class="total-right">
                
            <div class="rating-input">
                    <p>7.5/10</p>
                    <input type="text" placeholder="Enter game name">
                </div>
              
            </div>
            <div class="large-input">
            <input type="text" placeholder="Enter resume game here"><hr>
            </div>
            <div class="genres">
                <h2>Genres:</h2>
                <select class="input-select">
                    <option>Select Genres</option>
                    <option>Action</option>
                    <option>Adventure</option>
                    <option>Fps</option>
                </select>
            </div>
            <div class="studio">
                <h2>Studio:</h2>
            <select class="input-select1">
                <option>Select one studio</option>
                <option>Apple</option>
                <option>Android</option>
            </select>   
        </div>

            <div class="company">
                <h2>Company:</h2>
                <select class="input-select2">
                    <option>Select one studio</option>
                    <option>Apple</option>
                    <option>Android</option>
                </select>
                </div>
                <div class="platforms">
                    <h2>Platforms:</h2>
                    <input type="text" placeholder="Select platforms">
                    <button>+</button>
                </div>
                <div class="tags">
                    <h2>Tags:</h2>
                    <input type="text" placeholder="Select Tags">
                    <button>+</button>
                </div>
          
                <div class="medium">
                    <h2>Medium price:</h2>
                    <input type="text" placeholder="Select Tags">
                </div>
                <div class="releaseYear">
                    <h2>Release Year:</h2>
                    <input type="text" placeholder="Select Tags">
                </div>
                <div class="description">
                    <h2>Description:</h2>
                    <input type="text" placeholder="Enter description game">
                </div>
                <div class="buttons">
                    <button class="cancel">Cancel</button>
                    <button class="save">Save Game</button>

                </div>
         </section>
</div>


     


