<div class="all">
    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="background-color: #fc4444"
    >
      <div class="container-fluid">
        <img class="foto-logo" src="assets/logo.png" />
  
        <div class="search">
          <input type="search" placeholder="Search Game Here" />
          <button>Search</button>
        </div>
  
        <div class="collapse navbar-collapse" id="navbarNav"></div>
        <i class="bi bi-person"></i>
      </div>
    </nav>
  </div>
<section>
<div class="box">

    <form>
        <h3>Sing In</h3>
        <p class="insert">Insert your Account Information</p>
        <input type="email" id="email" name="email" placeholder="Username or Email">
        <input type="password" id="senha" name="senha" placeholder="Password">
        <button type="submit">Login your Account</button>
        <p class="no-account">No account? Send email fabio@tindin.com.br</p>
    </form>
</div>
</section>
